---
---
:root {} // scss-parser-reset
@import "base";

// style.scss overrides
html {
  font-family: "Open Sans", "Source Sans Pro", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;

  @media (min-width: 38em) {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-family: "Open Sans", "Source Sans Pro";
  line-height: 1.1;
  color: #333;
  letter-spacing: -0.025rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
}

pre {
  background-color: #f9f9f9;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 0 1rem;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 70%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: 0.25rem 0.5rem;
  border: 1px solid #e5e5e5;
  font-size: 140%;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

@import "syntax";

// customization
.pos_header {
  margin-left: 2rem;
}

.people {
  margin: auto;
  text-align: center;
  margin-top: 0.75em;
}

.list-item-people {
  display: inline-block;
  padding-right: 1em;
}

.list-post-title img {
  margin-bottom: 0.75em;
  margin-top: 1.25em;
}

.list-post-title .name {
  font-size: 18px;
}

.list-post-title {
  color: black;
}

.list-detail {
  font-size: 15px;
  color: #838383;
}

.list-item a:hover,
.list-post-title:hover .name,
.list-post-title .name:hover {
  color: #c42929;
}

.page-title {
  margin-bottom: 0.6em;
}

.navbar-brand {
  content: url("/images/logo/logo.png");
  display: inline-block;
  position: relative;
}

// change font for navbar
.navbar,
.navbar-nav > li > a {
  background-color: white;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-weight: 400;
  font-size: 120%;
}

// active tab text color highlight
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus {
  color: #6184a6;
  background-color: transparent;
}

.navbar-nav > ul > li > a {
  margin-left: 15px;
  padding-top: 25px;
}

.navbar-right {
  margin-right: 0px;
}

.member-profile{
  padding-right: 5%;
  font-family: "Open Sans";
  margin-bottom: 5%;
}

.member-profile > img{
    width: 30%;
    float: left;
}

.student {
  display:flex;
  flex-direction: column;
  width:30%;
}

.student > img{
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

// fix menu bar spacing for mobile
@media (max-width: 62em) {
  .navbar-brand {
    content: url("/images/logo/logo_mobile.png");
  }
  .col {
     width: 51%;
  }
  .member-profile > {
    img {
      width: 100%;
    }
  }

  .student {
    width: 51%;
  }

  .main-margin{
    margin-top: 25px;
  }

  .footer-logo {
    max-width: 70%;
    margin:auto;
  }
}

// fix spacing
.navbar-nav > li {
  margin-bottom: 0;
}

// fix menu button for mobile
.navbar-toggle,
.navbar-default .navbar-toggle:hover {
  border: none;
  background-color: #fff;
}

.navbar a {
  height: 70px;
}

.member-link{
  font-family: "Open Sans";
}

.btn-since{
  font-weight: 600;
}

span.icon-home {
  background: url({{site.url}}/images/icons/home.png) no-repeat;
  background-size: 100% 100%;
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

span.icon-git {
  background: url({{site.url}}/images/icons/git.png) no-repeat;
  background-size: 100% 100%;
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

span.icon-linkedin {
  background: url({{site.url}}/images/icons/linkedin.png) no-repeat;
  background-size: 100% 100%;
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.student > .member-name > a > * {
  margin-left: 5px;
}

.student > .member-name > a > {

    span.icon-home {
      background: url({{site.url}}/images/icons/home.png) no-repeat;
      background-size: 100% 100%;
      float: right;
      width: 20px;
      height: 20px;
      display: flex;
    }

    span.icon-git {
      background: url({{site.url}}/images/icons/git.png) no-repeat;
      background-size: 100% 100%;
      float: right;
      width: 20px;
      height: 20px;
      display: flex;
    }

    span.icon-linkedin {
      background: url({{site.url}}/images/icons/linkedin.png) no-repeat;
      background-size: 100% 100%;
      float: right;
      width: 20px;
      height: 20px;
      display: flex;
    }
}

hr.dot{
  border: none;
  border-top: 2px dotted rgba(192, 192, 192, 0.596);
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 50%;
}

/* Footer */
.footer {
  background-color: rgb(53, 53, 53);
}

.footer-content {
  color: rgba(255, 255, 255, 0.767);
}

.footer-spacer {
  display: block;
  margin-bottom: 3em;
}

.footer-privacy-link {
  color: white;
  text-decoration: none;
}

/* Section blocks */
.section-block {
  margin-bottom: 20px;
}

/* Member cards */
.member-photo-faculty {
  width: 50%;
  float: left;
}

.member-spacer {
  margin-bottom: 7px;
}

.student-row {
  flex-wrap: wrap;
  display: flex;
}

/* News */
.news-heading-inline {
  display: inline;
}

.news-section {
  text-align: left;
}

.news-list {
  list-style-position: outside;
  padding: 20px;
}

.news-container {
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #5d8aa8;
}

/* Publications */
.pub-spacer {
  height: 10px;
}

/* Index */
.banner-img {
  object-fit: cover;
}

/* About */
.text-center {
  text-align: center;
}