<footer>
    <div class="footer">
        <div class="container footer-content">
            <div class="row footer-row">
                <div class="col-xs-12 col-md-3 footer-brand-col">
                    <div class="footer-brand">
                        <span class="site-logo">
                            <span class="site-logo-abbr">SV</span><span class="site-logo-type">LAB</span><span class="site-logo-sep">:</span>
                        </span>
                        <img class="footer-postech-img" src="{{site.baseurl}}/images/logo/postech_comb.png" alt="POSTECH" />
                    </div>
                </div>
                <div class="col-xs-12 col-md-9 footer-text-col">
                    © {{ site.footer.copyright_year }} {{ site.footer.name }}.
                    <span class="footer-copyright">All rights reserved.</span><br>
                    {{ site.footer.department }}<br>
                    {{ site.footer.affiliation1 }}
                    <span class="footer-affiliation">{{ site.footer.affiliation2 }}</span><br>
                    {{ site.footer.building1 }},
                    <span class="footer-building">{{ site.footer.building2 }}</span><br>
                    {{ site.footer.address1 }},
                    <span class="footer-address">{{ site.footer.address2 }},</span>
                    <span class="footer-address">{{ site.footer.address3 }}</span><br>
                    <span class="footer-spacer"></span>
                    <a href="{{ site.footer.privacy_policy_url }}"
                        class="footer-privacy-link">Personal Information Policy</a><br>
                    <a href="{{ site.footer.opt-out_of_commercial_ads_url }}"
                        class="footer-privacy-link">Prohibition of Unauthorized Collection of E-mail Address</a>
                </div>
            </div>
        </div>
    </div>
</footer>
