<footer>
    <div style="background-color: rgb(53, 53, 53)" class="footer">
        <div class="container text-center" style="color: rgba(255, 255, 255, 0.767)">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{site.baseurl}}/images/logo/footer.png" alt="Logo"
                            style="max-width: 100%; height: auto" />
                        <a
                            href="https://www.postech.ac.kr/kor/usage-guide/privacy_policy.do(%ED%99%88%ED%8E%98%EC%9D%B4%EC%A7%80">개인정보취급방침</a>
                    </div>
                    <div class="col-md-9">
                        <span style="display: block; margin-bottom: 3em"></span>
                        Software Verification Laboratory, Department of Computer Science of
                        Engineering, POSTECH<br />
                        77 Cheongam Rd, Nam-gu, Pohang, Gyeongbuk, 37673 Korea.<br />
                        COPYRIGHT 2025 POSTECH. All rights reserved.<br />
                        <span style="display: block; margin-bottom: 3em"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>