{% assign role = include.role | default: "student" %}

{% if role == "faculty" %}
<div class="col clearfix member-profile">
  <img src="/images/teampic/{{ include.member.photo }}" class="member-photo member-photo-faculty" />
  <p class="member-name">{{ include.member.name }}</p>
  <div class="member-info">{{ include.member.info }}<br></div>
  <div class="member-link"><a href="mailto:{{ include.member.email }}">{{ include.member.email }}</a></div>
  <div class="member-spacer"></div>
  {% include member-links.html member=include.member %}
</div>

{% else %}
<div class="col member-profile student">
  <img src="/images/teampic/{{ include.member.photo }}" class="member-photo" />
  <p class="member-name">{{ include.member.name }}<span class="member-links-inline">{% include member-links.html member=include.member %}</span></p>
  <div class="member-info">{{ include.member.info }}<br></div>
  <div class="member-link"><a href="mailto:{{ include.member.email }}">{{ include.member.email }}</a></div>
  <div class="member-spacer"></div>
  <span class="member-links-block">{% include member-links.html member=include.member %}</span>
</div>
{% endif %}
