<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand navbar-logos">
        <a class="navbar-logo-sv-link" href="/">
          <span class="lab-logo">
            <span class="lab-logo-sv">SV</span><span class="lab-logo-lab">LAB</span><span class="lab-logo-colon">:</span>
          </span>
        </a>
        <a class="navbar-logo-postech-link" href="https://postech.ac.kr" target="_blank" rel="noopener noreferrer">
          <img class="navbar-logo-postech" src="/images/logo/postech.png" alt="POSTECH" />
        </a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li {% if page.url == '/' or page.url contains '/news' %}class="active"{% endif %}>
          <a class="name" href="/">HOME</a>
        </li>
        {% for nav in site.nav %}
        <li {% if page.url contains nav.href %}class="active"{% endif %}>
          <a class="name" href="{{ nav.href }}">{{ nav.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
