{% assign news = site.data.news | sort: 'date' | reverse %}
<ul class="news-list">
{% for new in news %}
  {% if include.limit %}
    {% if forloop.index0 < include.limit %}
    <li class="news-item">
        <span class="news-date">
            <b>[{{ new.date | date: '%Y.%m' }}]</b>
        </span>
        <span class="news-content">
            {{ new.details }}
        </span>
    </li>
    {% endif %}
  {% else %}
    <li class="news-item">
        <span class="news-date">
            <b>[{{ new.date | date: '%Y.%m' }}]</b>
        </span>
        <span class="news-content">
            {{ new.details }}
        </span>
    </li>
  {% endif %}
{% endfor %}
</ul>