---
---
:root { --scss-reset: 0; }
@import "base";

body {
  padding-top: 3em;
}

html {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 19px;
  font-weight: 300;
  line-height: 1.6;

  @media (min-width: 38em) {
    font-size: 21px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.25em;
  margin-bottom: 1em;
  font-weight: 700;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  line-height: 1.1;
  color: #333;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

h5,
h6 {
  font-size: 0.9rem;
}

pre {
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

table {
  background-color: transparent;
  margin-bottom: 1rem;
  width: 100%;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 70%;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-collapse: collapse;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

td,
th {
  padding: 0.25rem 0.5rem;
  font-size: 140%;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

@import "syntax";

.navbar-brand {
  content: url("/images/logo/logo.png");
  display: inline-block;
  position: relative;
}

.navbar {
  background-color: white;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15), 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  font-family: "Lato", sans-serif;
}

.navbar-nav > li > a {
  background-color: white;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  margin-left: 6px;
  padding-top: 25px;
}

.navbar-right {
  margin-right: -15px;
}

@media (max-width: 62em) {
  .navbar-brand {
    content: url("/images/logo/logo_mobile.png");
  }

  .navbar-nav {
    margin-right: -15px;
  }
}

@media (max-width: 767px) {
  .navbar-toggle {
    margin-top: 19px;
    margin-bottom: 0;
  }

  .navbar-nav > li > a {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-left: 0;
  }
}

.navbar-nav > li {
  margin-bottom: 0;
}

.navbar-toggle,
.navbar-default .navbar-toggle:hover {
  border: none;
  background-color: #fff;
}

.navbar a {
  height: 70px;
}

p {
  text-align: justify;
}

.text-justify {
  text-align: justify;
}

.rpost-subject {
  margin: 0 0 15px;
}

figcaption,
.table-caption {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 0.75rem !important;
  color: #555;
  text-align: center;
}

figcaption {
  margin-top: -0.85rem;
  margin-bottom: 0.5rem;
}

.table-caption {
  margin-top: 0.5rem;
  margin-bottom: 0.15rem;
}