---
layout: page
---
<link rel="stylesheet" href="{{ site.baseurl }}/css/fontawesome.all.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css" />

<link rel="stylesheet" href="{{ site.baseurl }}/research.css" />
<script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
            fontCache: 'global'
        }
    };
</script>

<script src="mathjax-config.js" defer></script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
<h2>{{ page.title }} </h2>
<br>

{{ content }}