---
layout: page
---
<link rel="stylesheet" href="{{ site.baseurl }}/css/bulma-carousel.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/bulma-slider.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/fontawesome.all.min.css" />
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css"
/>
<link rel="stylesheet" href="{{ site.baseurl }}/css/bulmaindex.css" />

<script src="{{ site.baseurl }}/js/bulma-carousel.min.js"></script>
<script src="{{ site.baseurl }}/js/bulma-slider.min.js"></script>
<script src="{{ site.baseurl }}/js/bulmaindex.js"></script>

<link rel="stylesheet" href="{{ site.baseurl }}/research.css" />


<h2>{{ page.title }} </h2>
<!-- <img src="{{ site.baseurl }}/images/respic/{{ page.img-url}}"> -->
<br>
<!-- <h4>{{ page.intro }} </h4> -->


{{ content }}